.my-chats {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: white;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ddd;
}

@media (min-width: 768px) {
    .my-chats {
        width: 31%;
    }
}

.hidden-on-mobile {
    display: none;
}

@media (min-width: 768px) {
    .hidden-on-mobile {
        display: flex;
    }
}

.my-chats-header {
    padding: 0 10px;
    font-size: 1.5rem;
    font-family: "Work Sans", sans-serif;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.new-group-btn {
    display: flex;
    font-size: 1rem;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    background: #e8e8e8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.new-group-btn:hover {
    background: #dcdcdc;
}

.chats-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #f8f8f8;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow-y: hidden;
}

.chat-item {
    cursor: pointer;
    background: #e8e8e8;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.chat-item:hover {
    background: #38b2ac;
    color: white;
}

.chat-item.selected {
    background: #38b2ac;
    color: white;
}

.chat-name {
    font-weight: bold;
}

.latest-message {
    font-size: 0.8rem;
}